.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    
    .payment-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2rem 0;
        overflow-y: auto;      
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
    }

    .cart-item-actions {
        display: flex;
        flex-direction: column;
    }

    .btn-inc-dec {
        background: none;
        border: none;
    }

    .btn-payment {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        margin-top: 3rem;
        position: relative;
    }

    .tmm-two{
        position: absolute;
    }

    .total-container {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem; 
    }
}
   
.overlay {
    position: fixed;
    top: 11%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    background-color: white;
    z-index: 100;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);

    h4 {
        margin-top: 1.75rem;
    }
}

.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 50;
}