
.header-container {
    display: flex;
    place-items: center;
    width: 100%;
    position: relative;

    img {
        width: 100%;
        max-width: 100vw;
        height: auto;
    }
    
    .header-nav {
        position: absolute;
        top: 16px;
        left: 16px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
}